<div>
<nav class="navbar " style="background-color: #1E1E1E;" >
  <div class="container-fluid">
    <a class="navbar-brand" style="color: white;">
      <b>YAVIDRIVE</b> 
    </a>
  </div>
</nav>
</div>
<br>
<div class="container d-flex align-items-center">
  <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12 mb-3 d-flex align-items-center">
          <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="3000">
                  <img src="assets/images/sign up4.jpeg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                  <img src="assets/images/sign-up1.jpeg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                  <img src="assets/images/sign-up2.jpeg" class="d-block w-100" alt="...">
      
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
      </div>

  <div class="col-lg-6 col-md-12 col-sm-12">
    <div class="row d-flex justify-content-center mb-5" style="text-align: center;">
      <p class="h1">Sign up</p>

      <p>Complete sus datos correctamente para brindar un mejor servicio.</p>
  </div>
  <div class="mb-3 col-10 mx-auto text-danger" >
    <p class="h6">Los campos marcados con * son obligatorios</p>
</div>
      <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="mb-3 col-10 mx-auto text-danger">
          <p class="h6">Los campos marcados con * son obligatorios</p>
      </div>
        <label class="form-label"><b>Cédula</b><b style="color: red;">  *</b></label>
          <input type="text" class="form-control" formControlName="cedula" style="background-color: rgb(240, 240, 240);">
          @if(form.controls['cedula'].hasError('required') && form.controls['cedula'].touched){
            <div class="alert-validation">Por favor ingrese su número de cédula</div>
          }
          @if(form.controls['cedula'].hasError('pattern') && form.controls['cedula'].dirty){
            <div class="alert-validation">Por favor ingrese un número de cédula válido</div>
          }
          @if(form.controls['cedula'].hasError('minlength')&& form.controls['cedula'].dirty){
            <div class="alert-validation">Debe contener 3 dígitos</div>
          }
          @if(form.controls['cedula'].hasError('maxlength')&& form.controls['cedula'].touched){
            <div class="alert-validation">Debe contener 10 dígitos</div>
          }
          <br>
          <label class="form-label"><b>Email</b><b style="color: red;">  *</b></label>
          <input type="email" class="form-control" id="email" formControlName="email" style="background-color: rgb(240, 240, 240);">
          @if(form.controls['email'].hasError('required') && form.controls['email'].touched){
            <div class="alert-validation">Por favor ingrese su email</div>
          }
          @if(form.controls['email'].hasError('email') && form.controls['email'].touched){
            <div class="alert-validation">Por favor ingrese un email válido</div>
          }
          @if(form.controls['email'].hasError('pattern') && form.controls['email'].dirty){
            <div class="alert-validation"> ...&#64;yavirac.edu.ec</div>
          }
          <br>
          <label class="form-label"><b>Establezca su contraseña</b><b style="color: red;">  *</b></label>
          <input type="password" class="form-control" formControlName="password" style="background-color: rgb(240, 240, 240);">
          @if(form.controls['password'].hasError('required') && form.controls['password'].touched){
            <div class="alert-validation">Por favor ingrese una contraseña</div>
          }
          @if(form.controls['password'].hasError('minlength') && form.controls['password'].dirty){
            <div class="alert-validation">La contraseña debe contener al menos 5 caracteres</div>
          }
          <br>
          <label class="form-label"><b>Elija el tipo de usuario</b><b style="color: red;">  *</b></label>
          <select class="form-select" formControlName="id_role" style="background-color: rgb(240, 240, 240);">
            @for(rol of roles; track rol.id_role){
              <option value= {{rol.id_role}}>{{rol.name}}</option>
            }           
          </select>

          @if(form.controls['id_role'].hasError('required') && form.controls['id_role'].touched){
            <div class="alert-validation">Por favor elija una opción</div>
          }
          <br>
          <div class="row d-flex justify-content-center">
            <button type="submit" class="btn btn-success" style="width: 200px;">Enviar</button>
          </div>
      </form>
    </div>
  </div>
</div>
