<div class="container">
    <div class="row">
      <div class="col-8 mx-auto">
        <form [formGroup]="vehicleForm" (ngSubmit)="submit()">
            <div class="mb-3">
              <label class="form-label">Matrícula: </label>
              <input type="text" class="form-control" formControlName="registration">
              @if(vehicleForm.controls['registration'].hasError('required') && vehicleForm.controls['registration'].touched){
                <div class="alert-validation">Por favor escriba la matrúcla del vehículo</div>
              }
            </div>
            <div class="mb-3">
              <label class="form-label">Color: </label>
              <input type="text" class="form-control" formControlName="color">
              @if(vehicleForm.controls['color'].hasError('required') && vehicleForm.controls['color'].touched){
                <div class="alert-validation">Por favor escriba el color de su vehículo</div>
              }
            </div>
            <div class="mb-3">
              <label  class="form-label">Modelo </label>
              <input type="text" class="form-control" formControlName="model">
              @if(vehicleForm.controls['model'].hasError('required') && vehicleForm.controls['model'].touched){
                <div class="alert-validation">Por favor ingrese el modelo del vehículo</div>
              }
            </div>
            <div class="mb-3">
              <label  class="form-label">Marca </label>
              <input type="text" class="form-control" formControlName="brand">
              @if(vehicleForm.controls['brand'].hasError('required') && vehicleForm.controls['brand'].touched){
                <div class="alert-validation">Por favor indique la marca de su vehículo</div>
              }
            </div>
            <div class="mb-3">
              <label  class="form-label">Capacidad de pasajeros del vehículo </label>
              <input type="number" class="form-control" formControlName="numSeats">
              @if(vehicleForm.controls['numSeats'].hasError('required') && vehicleForm.controls['numSeats'].touched){
                <div class="alert-validation">Por favor indique la capacidad de pasajeros de su vehículo</div>
              }
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
          </form>
      </div>
    </div>
  </div>