<nav class="navbar navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img height="45" width="45" src="assets/images/logo yavidrive.jpg" style="border-radius: 50px;"> <b> YAVIDRIVE</b></a>
    <p>{{userId.name_c}}</p>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
        aria-controls="offcanvasDarkNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
        aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Usuario</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
            aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link" style="color: white;" [routerLink]="['/home', userId]">INICIO</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: white;" [routerLink]="['/routes',userId]">SERVICIO RUTAS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: white;" [routerLink]="['/customer', userId]">EDITAR DATOS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: white;" [routerLink]="['/login']">CERRAR SESION</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
</nav>
<br><br><br><br>

<!--Recibo del Customer-->
<div class="row d-flex align-items-center">
    <div class="col-sm-8 mb-5 mb-sm-0 mx-auto">
    <div class="card text-center card-center border border-secondary">
    <div class="card-header">
      <h4 class="font-weight-bold">Recibo</h4>
    </div>
    <div class="card-body">
      <h5 class="card-title">Información del servicio:</h5>
      <p class="card-text">Fecha de inicio: {{recibo.start_date}}</p>
      <p class="card-text">Fecha de finalización: {{recibo.end_date}}</p>
      <p class="card-text">Zona: {{recibo.name_z}}</p>
      <p class="card-text">Descripción: {{recibo.description}}</p>
      <p class="card-text">Precio: {{recibo.price}}</p>
      <h5 class="card-title">Información del conductor y vehículo:</h5>
      <img src="{{recibo.photo_d}}" alt="Foto del conductor" width="125" height="195">
      <p class="card-text">Nombre: {{recibo.name_d}} {{recibo.lastname_d}}</p>
      <p class="card-text">Número de teléfono: {{recibo.phone_d}}</p>
      <p class="card-text">Número de placa: {{recibo.registration}}</p>
      <p class="card-text">Marca: {{recibo.brand}}</p>
      <p class="card-text">Modelo: {{recibo.model}}</p>
      <p class="card-text">Color: {{recibo.color}}</p>
      
      <a (click)="descargarPDF()" class="btn btn-success btn-lg" style="position:absolute;right: 50px;;">Descargar PDF</a>

    </div>
    <br>
    <br>
    <div class="card-footer text-body-secondary">
      <span class="bi bi-info-circle"></span>  Recuerda que este recibo es tu comprobante de pago.
    </div>
  </div>
