<nav class="navbar navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src=""> YAVIDRIVE</a>
      <p>{{userId.name_c}}</p>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
          aria-labelledby="offcanvasDarkNavbarLabel">
          <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Conductor</h5>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                  aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                  <li class="nav-item">
                      <a class="nav-link"  style="color: white;" [routerLink]="['/driver-home', userId]">INICIO</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" style="color: white;" [routerLink]="['/routes-form', userId]">CREAR RUTA</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link"  style="color: white;" [routerLink]="['/vehicle-form',userId]">EDITAR DATOS DEL VEHICULO</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link"  style="color: white;" [routerLink]="['/login']">CERRAR SESION</a>
                  </li>
              </ul>
              <form class="d-flex mt-3" role="search">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-success" type="submit">Buscar</button>
              </form>
          </div>
      </div>
  </div>
</nav>
<br>
<br>

<!--Registro del Driver-->
<style>
  html {
    font-size: 14px;
  }
  
  .container {
    font-size: 14px;
    color: #666666;
    font-family: "Open Sans";
  }
</style>
  <div class="container">
    <div class="row pt-5 m-auto">
      @for (registro of registros; track registro.phone_c) {
      <div class="col-md-6 col-lg-4 pb-3 mx-auto">
        <div class="card card-custom bg-white border-white border-0">
          <div class="card-custom-img" style="background-image: url(assets/images/norte.jpeg);"></div>
          <div class="card-custom-avatar">
            <img class="img-fluid" src="{{registro.photo_c}}" alt="Foto" />
          </div>
          <div class="card-body" style="overflow-y: auto">
            <h6 class="card-title">Fecha de inicio:</h6>
            <p class="card-text">{{registro.start_date}} </p>
            <h6 class="card-title">Fecha de finalización:</h6>
            <p class="card-text">{{registro.end_date}} </p>
            <h6 class="card-title">Nombre:</h6>
            <p class="card-text">{{registro.name_c}} {{registro.lastname_c}} </p>
            <h6 class="card-title">Número de teléfono: </h6>
            <p class="card-text"> {{registro.phone_c}}</p>
          </div>
        </div>
      </div>
      }
    </div>
  </div>