<nav class="navbar" style="background-color: #1E1E1E;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#" style="color: white;">YAVIDRIVE</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            style="background-color: aliceblue;">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:4200/home" style="color: white;">INICIO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:4200/routes" style="color: white;">SERVICIO RUTA</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:4200/register" style="color: white;">REGISTRO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:4200/login" style="color: white;">EDITAR DATOS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:4200/login" style="color: white;">CERRAR SESION</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
        


            <!--INICIO CARDS-->
<div class="container mb-3" style="max-width: 1920px">
    <div class="card">
        <div class="card-body" style="background-color: #ffffff;">

            <!-- Primera Subtarjeta -->
            <div class="card mb-3" style="background-color: #1E1E1E;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="https://static.patiotuerca.com/ghost/ecuador/2023/02/Jetour-X70-Plus.jpg"
                            alt="Imagen 1" class="img-fluid" style="max-width: 750px;">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title" style="color: white; text-align: right;">Prepárate para conducir con la app de Yavidrive</h5>
                            <p class="card-text" style="color: white; text-align: right;">Viaja con comodidad, llega con confianza, tu destino está a solo un clic de distancia.</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Segunda Subtarjeta -->
            <div class="card" style="background-color: #1E1E1E;">
                <div class="row g-0">
                    <div class="col-md-8">
                        <img src="https://static.patiotuerca.com/ghost/ecuador/2023/02/Jetour-X70-Plus.jpg"
                            alt="Imagen 2" class="img-fluid" style="max-width: 500px;">
                    </div>
                    <div class="col-md-4">
                        <div class="card-body">
                            <h5 class="card-title" style="color: white;">Subtarjeta 2</h5>
                            <p class="card-text" style="color: white;">Texto de la subtarjeta 2.</p>
                        </div>
                    </div>
                </div>
            </div>

            <br>
            <br>

            <!--Terceras cards-->
            <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col">
                    <div class="card" style="background-color: #1E1E1E;">
                        <img src="https://www.eluniverso.com/resizer/FkwWRQnqo9FLu0MGpX-WCESGbTs=/1024x510/smart/filters:quality(70)/cloudfront-us-east-1.images.arcpublishing.com/eluniverso/E5VVGMAMSFBAFPK5V2BMNUMRVM.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title" style="color: white;">Card title</h5>
                            <p class="card-text" style="color: white;">This is a longer card with supporting text below as a natural lead-in
                                to additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="background-color: #1E1E1E;">
                        <img src="https://www.eluniverso.com/resizer/FkwWRQnqo9FLu0MGpX-WCESGbTs=/1024x510/smart/filters:quality(70)/cloudfront-us-east-1.images.arcpublishing.com/eluniverso/E5VVGMAMSFBAFPK5V2BMNUMRVM.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title" style="color: white;">Card title</h5>
                            <p class="card-text" style="color: white;">This is a longer card with supporting text below as a natural lead-in
                                to additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
