<div class="container d-flex align-items-center">
    <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12 mb-3 d-flex align-items-center">
            <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active" data-bs-interval="3000">
                    <img src="assets/images/routes-form1.jpeg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item" data-bs-interval="3000">
                    <img src="assets/images/routes-form2.jpeg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item" data-bs-interval="3000">
                    <img src="assets/images/routes-form3.jpeg" class="d-block w-100" alt="...">
        
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </div>
     <div class = "col-lg-6 col-md-12 col-sm-12">
        <div class="mb-3 col-10 mx-auto text-primary" style="text-align: center;">
            <p class="h6">Inserte correctamente todos los datos para poder brindar un mejor servicio a los clientes.</p>
        </div>
        <div class="mb-3 col-10 mx-auto text-danger">
            <p class="h6">Los campos marcados con * son obligatorios</p>
        </div>
        <form [formGroup]="routesForm"  (ngSubmit)="submit()">
            <div class="mb-3 col-10 mx-auto">
                <label class="form-label"><b>Descripción</b><b style="color: red;">  *</b></label>
                <input type="text" class="form-control" formControlName="description">
                @if(routesForm.controls['description'].hasError ('required') && routesForm.controls['description'].touched){
                    <small style="color: red;">Campo Requerido</small>
                }
            </div>

            <div class="mb-3 col-10 mx-auto">
                <label class="form-label"><b>Disponibilidad</b><b style="color: red;">  *</b></label>
                <select class="form-select" formControlName="availability">
                        <option value="true">Si</option>
                        <option value="false">No</option>
                </select>
                @if (routesForm.controls['availability'].hasError('required') && routesForm.controls['availability'].touched) {
                    <small style="color: red;">Elija un campo</small>
                }
            </div>

            <div class="mb-3 col-10 mx-auto">
                <label class="form-label"><b>Precio</b><b style="color: red;">  *</b></label>
                <input type="number" class="form-control" formControlName="price">
                @if(routesForm.controls['price'].hasError ('required') && routesForm.controls['price'].touched){
                    <small style="color: red;">Campo requerido</small>
                }
            </div>

            <div class="mb-3 col-10 mx-auto">
                <label class="form-label"><b>Zona</b><b style="color: red;">  *</b></label>
                <select class="form-select" formControlName="id_zone">
                    @for (zone of zones; track zone.id_zone) {
                        <option value= {{zone.id_zone}}>{{zone.name}}</option>
                    }
                </select>
                @if (routesForm.controls['id_zone'].hasError('required') && routesForm.controls['id_zone'].touched) {
                    <small style="color: red;">Elija un campo</small>
                }
            </div>
            <br>
            <div class="button">
                @if(routeinfo == null){
                    <button style="position: absolute;right: 25%;" type="submit" class="btn btn-success">Enviar</button>
                }
                @if(routeinfo){
                    <button style="position: absolute; right: 25%;" type="submit" class="btn btn-primary">Actualizar</button>
                }
            </div>
        </form>
    </div>
 </div>
</div>
