<nav class="navbar"  style="background-color: #1E1E1E;" >
  <div class="container-fluid">
    <a class="navbar-brand" style="color: white;">
  
      YAVIDRIVE 
    </a>
  </div>
</nav>

<div class="container">
  <div class="container"> 
    <h1 class="titulo" style=" position: absolute; top: 55px; left: 870px;">Datos Personales</h1>
    <h6 class="texto" style="text-align: right; position: relative; top:40px; right: 70px;">Asegurate de llenar todos los campos</h6>
    <div class="Imagen">
      <img src="assets/images/customer-imagen.jpeg" 
      style="position: absolute; left: 0px; top: 56px; width: 700px; height: 585px;">
    </div>
    <div class="row" style="position: absolute; left: 745px; top: 230px; width: 600px;">
      <div class="col-8 mx-auto">
        <form [formGroup]="customer" (ngSubmit)="submit()">
          <div class="mb-3 col-10 mx-auto">
            <label class="form-label">Nombres: </label>
            <input type="text" class="form-control" formControlName="name" style="background-color: rgb(240, 240, 240);">
            @if(customer.controls['name'].hasError('required') && customer.controls['name'].touched){
              <div class="alert-validation" style="color: red">Por favor escriba su nombre</div>
            }
          </div>
          <div class="mb-3 col-10 mx-auto">
            <label class="form-label">Apellidos: </label>
            <input type="text" class="form-control" formControlName="lastname" style="background-color: rgb(240, 240, 240);">
            @if(customer.controls['lastname'].hasError('required') && customer.controls['lastname'].touched){
              <div class="alert-validation"  style="color: red">Por favor escriba sus apellidos</div>
            }
          </div>
          <div class="mb-3 col-10 mx-auto" style="position: absolute; top: -95px; width: 190px; right: 265px;">
            <label  class="form-label">Ingrese el URL de su Foto </label>
            <input type="text" class="form-control" formControlName="photo" style="background-color: rgb(240, 240, 240);">
            @if(customer.controls['photo'].hasError('required') && customer.controls['photo'].touched){
              <div class="alert-validation"  style="color: red">Por favor suba su foto</div>
            }
          </div>
          <div class="mb-3 col-10 mx-auto">
            <label  class="form-label">Celular </label>
            <input type="number" class="form-control" formControlName="phone" style="background-color: rgb(240, 240, 240);">
            @if(customer.controls['phone'].hasError('required') && customer.controls['phone'].touched){
              <div class="alert-validation"  style="color: red">Por favor ingrese su número celular</div>
            }
          </div>
          <button type="submit" class="btn btn-primary" style="position: relative; left: 40px; top: 30px; width: 140px; border-color: black;">Enviar</button>
          <button type="submit" class="btn btn-danger" style="position: relative; left: 55px; top: 30px; width: 140px; border-color: black;">Cancelar</button>
        </form>
      </div>
    </div>
  </div>
  {{customer.controls['name'].status}}
  {{customer.controls['name'].status}}
