<div>
  <nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src=""> YAVIDRIVE</a>
      <p>{{userId.name_c}}</p>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
        aria-controls="offcanvasDarkNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
        aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Usuario</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
            aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link" style="color: white;" [routerLink]="['/home', userId]">INICIO</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: white;" [routerLink]="['/receipt',userId]">REGISTRO</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: white;" [routerLink]="['/customer', userId]">EDITAR DATOS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: white;" [routerLink]="['/login']">CERRAR SESION</a>
            </li>
          </ul>
          <form class="d-flex mt-3" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-success" type="submit">Buscar</button>
          </form>
        </div>
      </div>
    </div>
  </nav>
</div>
<br>
<br>
<br>
<div>
  <h1 class="text-center">¡Elije tu ruta!</h1>
</div>
<div style="text-align: center;" class="mb-3 col-10 mx-auto text-primary">
  <p>El destino que elegias hara que puedas llegar seguro a casa, tu familia espera por ti.</p>
</div>

<div class="container d-flex align-items-center">
  <div class="row">
    <div class="col">
      <div class="card text-center mb-3" style="width: 18rem;">
        <img src="assets/images/norte.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">NORTE</h5>
          <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#norte">
            VER
          </button>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card text-center mb-3" style="width: 18rem;">
        <img src="assets/images/sur.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">SUR</h5>
          <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#sur">
            VER
          </button>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card text-center mb-3" style="width: 18rem;">
        <img src="assets/images/valles.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">VALLES</h5>
          <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#valles">
            VER
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Norte-->
<div class="modal fade modal-xl" id="norte" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Rutas Norte de Quito</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Nombre Conductor</th>
              <th scope="col">Descripción</th>
              <th scope="col">Disponibilidad</th>
              <th scope="col">Precio</th>
              <th scope="col">Servicio</th>
            </tr>
          </thead>
          <tbody>
            @for(route of routes; track route.id_routes){
            @if(route.zone_id == 1){

            <tr>
              <td>{{route.name}}</td>
              <td>{{route.description}}</td>
              <td>{{route.availability}}</td>
              <td>{{route.price}}</td>
              <td><button type="button" class="btn btn-success" data-bs-toggle="modal"
                  (click)="postRegister(route.id_routes)">
                  Tomar servicio
                </button></td>
            </tr>
            }
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>



<!-- Modal Sur-->
<div class="modal fade modal-xl" id="sur" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Rutas Sur de Quito</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Nombre Conductor</th>
              <th scope="col">Descripción</th>
              <th scope="col">Disponibilidad</th>
              <th scope="col">Precio</th>
              <th scope="col">Servicio</th>
            </tr>
          </thead>
          <tbody>
            @for(route of routes; track route.id_routes){
            @if(route.zone_id == 2){

            <tr>
              <td>{{route.name}}</td>
              <td>{{route.description}}</td>
              <td>{{route.availability}}</td>
              <td>{{route.price}}</td>
              <td><button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
                  Servicio
                </button></td>
            </tr>
            }
            }

          </tbody>
        </table>

      </div>

    </div>
  </div>
</div>

<!-- Modal Valles-->
<div class="modal fade modal-xl" id="valles" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Rutas Valles</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Nombre Conductor</th>
              <th scope="col">Descripción</th>
              <th scope="col">Disponibilidad</th>
              <th scope="col">Precio</th>
              <th scope="col">Servicio</th>
            </tr>
          </thead>
          <tbody>
            @for(route of routes; track route.id_routes){
            @if(route.zone_id == 3){

            <tr>
              <td>{{route.name_d}}</td>
              <td>{{route.description}}</td>
              <td>{{route.availability}}</td>
              <td>{{route.price}}</td>
              <td><button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
                  Servicio
                </button></td>
            </tr>
            }
            }

          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>