<h1></h1>

<div class="container d-flex align-items-center">
    <div class="row">
        <div class="col">
            <div class="card text-center mb-3" style="width: 18rem;">
                <img src="assets/images/norte.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">NORTE</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#norte">
                    VER
                  </button>
                </div>
              </div>
        </div>

        <div class="col">
          <div class="card text-center mb-3" style="width: 18rem;">
              <img src="assets/images/sur.jpeg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">SUR</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#sur">
                  VER
                </button>
              </div>
            </div>
        </div>

        <div class="col">
          <div class="card text-center mb-3" style="width: 18rem;">
            <img src="assets/images/valles.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">VALLES</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#valles">
                VER
              </button>
            </div>
          </div>
        </div>
    </div>
</div>
  
  <!-- Modal Norte-->
  <div class="modal fade modal-xl" id="norte" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel" style="text-align: center;">Rutas Norte de Quito</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre Conductor</th>
                <th scope="col">Descripción</th>
                <th scope="col">Disponibilidad</th>
                <th scope="col">Precio</th>
                <th scope="col">Servicio</th>
              </tr>
            </thead>
            <tbody>
              @for(route of routes; track route.id_routes){
                @if(route.zone_id == 1){
                    
                    <tr>
                      <td>{{route.driver_id}}</td>
                      <td>{{route.name_d}}</td>
                      <td>{{route.description}}</td>
                      <td>{{route.availability}}</td>
                      <td>{{route.price}}</td>
                      <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Servicio
                      </button></td>
                    </tr>
                }
            }
             
            </tbody>
          </table>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Understood</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Servicio-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        Desea aceptar el siguiente servicio
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-success">Aceptar</button>
      </div>
    </div>
  </div>
</div>

  <!-- Modal Sur-->
  <div class="modal fade modal-xl" id="sur" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Rutas Sur de Quito</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre Conductor</th>
                <th scope="col">Descripción</th>
                <th scope="col">Disponibilidad</th>
                <th scope="col">Precio</th>
                <th scope="col">Servicio</th>
              </tr>
            </thead>
            <tbody>
              @for(route of routes; track route.id_routes){
                @if(route.zone_id == 2){
                    
                    <tr>
                      <td>{{route.driver_id}}</td>
                      <td>{{route.name_d}}</td>
                      <td>{{route.description}}</td>
                      <td>{{route.availability}}</td>
                      <td>{{route.price}}</td>
                      <td><button class="btn btn-success">Servicio</button></td>
                    </tr>
                }
            }
             
            </tbody>
          </table>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Understood</button>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Modal Valles-->
  <div class="modal fade modal-xl" id="valles" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Rutas Valles</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre Conductor</th>
                <th scope="col">Descripción</th>
                <th scope="col">Disponibilidad</th>
                <th scope="col">Precio</th>
                <th scope="col">Servicio</th>
              </tr>
            </thead>
            <tbody>
              @for(route of routes; track route.id_routes){
                @if(route.zone_id == 3){
                    
                    <tr>
                      <td>{{route.driver_id}}</td>
                      <td>{{route.name_d}}</td>
                      <td>{{route.description}}</td>
                      <td>{{route.availability}}</td>
                      <td>{{route.price}}</td>
                      <td><button class="btn btn-success">Servicio</button></td>
                    </tr>
                }
            }
             
            </tbody>
          </table>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Understood</button>
        </div>
      </div>
    </div>
  </div>